<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 50px;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3><p>Binding String : {{my_str}}</p></h3>       <!-- my_str 바인딩 -->
      <h3></h3>
      <h3><p>Loop list:</p></h3>                        <!-- my_list 순회 -->
      <ul>
        {% if True %}
        <img src="{{ url_for('static', filename=image_file) }}">
        {% endif %}
      </ul>
    </div>
  </body>
</html>
